<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
