<template>
  <div class="row">
    <h2>2222222222222</h2>
    <h1>欢迎使用搜索功能11111112211221221</h1>
    <h1>欢迎使用搜索功能111111</h1>
    
    <div class="card" v-for="u in users" :key="u.login">
      <a :href="u.html_url" target="_blank">
        <img :src="u.avatar_url" style="width: 100px" />
      </a>
      <p class="card-text">{{u.login}}</p>
      
    </div>
      <h1 v-show="isFirst">欢迎使用!</h1>
      <h1 v-show="isLoading">加载中....</h1>
      <h1 v-show="err" class="err">阿偶，请求出错了：{{err}}</h1>
    
  </div>
</template>
<script lang="ts">
export default {
  name: "List",
  data() {
    return {
      users:[],
      isFirst:true,
      isLoading:false,
      err:''
    }
  },
  mounted(){
   this.$bus.$on('get-info',({users,isFirst,isLoading,err})=>{
    this.users=users,
    this.isFirst=isFirst,
    this.isLoading=isLoading,
    this.err=err

   })
  },
  beforeDestroy(){
    this.$bus.$off('get-info')
  }
}
</script>
<style scoped>

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
h1{
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.card {
  float: left;
  width: 33.333%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid #efefef;
  text-align: center;
}

.card > img {
  margin-bottom: 0.75rem;
  border-radius: 100px;
}

.card-text {
  font-size: 85%;
}
/* h1{
  padding: 2rem;
} */
</style>