<template>

    <section class="jumbotron">
    <h3 class="jumbotron-heading">Search Github Users</h3>
    <div>
      <input
        type="text"
        placeholder="请输入关键字"
        v-model="keyWord"
        
      />&nbsp;<button @click="handleSearch">Search</button> 
    </div>
  </section>
</template>

<script>
  import axios from 'axios'
  export default {
    name:"Search",
    data() {
      return {
        keyWord:''
      }
    },
    methods:{
      handleSearch(){
        this.$bus.$emit('get-info',{users:[],isFirst:false,isLoading:true,err:''})
        // console.log(this.keyWord);
        axios.get(`https://api.github.com/search/users?q=${this.keyWord}`).then(
          response=>{
            // console.log(response.data);
           this.$bus.$emit('get-info',{users:response.data.items,isFirst:false,isLoading:false,err:''})
          },
          error=>{
            this.$bus.$emit('get-info',{users:[],isLoading:false,err:error.message})
          }
        )
      }
    }
  }
</script>

<style scoped>
  
</style>